:global body {
	font-family: Helvetica;
	font-weight: 300;
}

:global .react-layout-components--box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
