// @flow

import {
	SOME_ACTION,
} from './constants';
import type { Action } from '../action';

export type {{ properCase reducerName }}ReducerState = Map<string, Song>;

const initialState = {};

export default function reducer(state : {{ properCase reducerName }}ReducerState = initialState, action : Action) {
	switch (action.type) {
		case (SOME_ACTION): {
			return state;
		}
		default: {
			return state;
		}
	}
}
