// @flow

import React from 'react';
{{#if style}}
import style from './style.css';
{{/if}}

type {{ properCase componentName }}Props = {};

export default function {{ properCase componentName }}({} : {{ properCase componentName }}Props) {
	return (
		<div>
			hello
		</div>
	);
}
