// @flow

import React from 'react';
import { storiesOf, action } from '@kadira/storybook';
import {{ properCase componentName }} from './';

storiesOf(
	'{{ properCase componentName }}',
	module
).add('with no props', () => (
	<{{ properCase componentName }} />
));
