// @flow

import React from 'react';
{{#if style}}
import style from './style.css';
{{/if}}
{{#if reduxConnect}}
import { connect } from 'react-redux';
{{/if}}

type {{ properCase componentName }}Props = {};

{{#if reduxConnect}}
export function {{ properCase componentName }}({
{{else}}
export default function {{ properCase componentName }}({
{{/if}}

} : {{ properCase componentName }}Props) {
	return (
		<div>
			hello
		</div>
	);
}
{{#if reduxConnect}}

const mapState = (state) => {
	return {};
};

const mapDispatch = (dispatch) => {
	return {};
};

export default connect(
	mapState,
	mapDispatch,
)({{ properCase componentName }});
{{/if}}
